# Model Weights & Checkpoints
*.pt
*.pth
*.h5
*.bin
*.ptl
*.ckpt
*.safetensors
*.onnx

# ================================
# GLoVE embeddings (DO NOT COMMIT)
# ================================
GLoVE/Bhili/
GLoVE/Gondi/
GLoVE/Kui/
GLoVE/Mundari/
GLoVE/Santali/

# ================================
# Word2Vec embeddings (DO NOT COMMIT)
# ================================
Word2Vec/Bhili/
Word2Vec/Gondi/
Word2Vec/Kui/
Word2Vec/Mundari/
Word2Vec/Santali/



# BERT & Transformers specific
BERT-based-models/
foundation-model/outputs/

# Data & Datasets
datasets/
*.csv
*.tsv
*.jsonl
*.parquet

# Python Internals
**/__pycache__/
*.pyc
*.pyo
*.pyd

# OS Specific
.DS_Store
Thumbs.db